@charset "UTF-8";

/* reset 수정하지마세요 */
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
/* reset 수정하지마세요 */


#index{
    width: 100%;
    position: relative;
}

/*---------------header 시작-------------*/
#index header{
    margin-top: 1%;
    background-color:#ccffcc;
    width: 100%;
    height: 50px;
    position: fixed;
}

#index #logo{
    font-size: 30px;
    float: left;
    margin-left: 10px;
}
#index #login{
    float: right;
    font-size: 15px;
    margin-right: 10px;
}
/*---------------header 끝-------------*/


/*---------------메뉴 시작-------------*/
#index nav{
    width: 70%;
	height: 50px;
	position: absolute;
	left: 14%;
	line-height: 30px;
	right: 12%;
}

#index .menu #sub2, #index .menu #sub3, #index .menu #sub4, #index .menu #sub1{
    display: none;
}

#index .menu{
	display: flex;
    justify-content: space-between;
	align-items: center;
}

#index .menu .mMenu{
    float: left;
}

#index .menu .mMenu a{
	padding : 5px;
}
/*---------------메뉴 끝-------------*/


/*---------------몸통 시작-------------*/
#index #mid #notice{/* 공지 */
    width: 100%;
    height: 200px;
    border: 1px solid #ccffcc;
}

 #index #mid #event{/* 이벤트창 */
    width: 100%;
    height: 600px;
    border: 1px solid #ccffcc;
}

#banner{/* 이벤트 창 내 배너 */
	background-color: #cccccc;
	width: 60%;
	height: 90%;
	margin: 60px auto 0px;
}


#index #mid #art{/* 미술작품코너 */
    width: 100%;
    min-height: 300px;
    border: 1px solid #ccffcc;
}
/*---------------몸통 끝-------------*/


/*footer*/
#index footer{
    margin-top: 30px;
    margin-bottom: 0px;
}