/*
게시판 통합 css
*/
@charset "UTF-8";

/* reset 수정하지마세요*/
* {margin: 0;padding: 0; box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
/* reset 수정하지마세요*/


/* -----게시판 보드 시작-----------------*/

#board {
	margin:0px auto;
	width:100%;
	position : relative;
	text-align: center;
	padding:10%;
	box-sizing:border-box;
}


#board #center {
	width:100%;
	min-height:500px;
	height:100%;
}

#board #menu_bar{
	width: 15%;
	height : 400px;
	border : 1px solid #000000;
	float:left;
	border-radius:10px;
}

#board #doc{
	width:70%;
	height:100%;
	min-height:300px;
	border : 1px solid #000000;
	float:left;
	margin-left:10px;
}


#board #center .ul{
	margin:10px;
	list-style : none;
}

#board #center .ul .li{
	margin:30px;
}

#board #center .ul .li:hover{ /*수정*/
	background-color: #808080;
	cursor: pointer;
}

/* -------게시판 보드 끝--------------------*/

/*-------------게시판 view-----------*/

#coqn_view #photo{
	width:800px;
	height:300px;
	border:1px solid #808080;
}

#coqn_view #Vdoc{
	width:800px;
	height:300px;
	border:1px solid #808080;
}

/*-------------게시판 view끝----------*/

/*-----------게시판 입력-------------*/

#coqn_regi #head{
	margin:10px;
}

#coqn_regi #Rdoc{
	width:90%;
	min-height:200px;
	border:1px solid #000;
	margin:auto;
	background-color:#00ffff;
}

#coqn_regi #Rdoc #text{
	resize:none;
	width:100%;
	min-height:700px;
	margin:5px auto;
}

#coqn_regi #title{
	width:400px;
}

/*-----------게시판 입력 끝-----------*/

/* 이미지 미리보기 -------------------- */
#image_preview{
	position: relative;	
}
#image_preview img {
	width:150px;
	height:180px;
}

#image_preview #attzone{
	width:100%;
	min-height:130px;
	padding:0;
	border:2px dotted #aaa;
	background-color:rgba(240,240,240,0.3);
}
#image_preview #attzone .item{
	width:130px;
	height:150px;
	margin:5px;
	position: relative;
	display: inline-block;
}

#attzone .del_btn{
	position: absolute;
	font-size:24pt;
	color:#ff0000;
	right:3px;
	bottom:3px;
	background-color:rgba(255,255,255,.2);
	padding:0;
	border-width:0;
	cursor: pointer;
}

/* 이미지 미리보기 끝 -------------------- */